body {
	margin: 0rem;
	padding: 0rem;			
}
@media screen and (min-width: 550px){
	.container{	
			display: grid;
		}
		.topnav{
			display: none;
		}
	header {
		display: flex;
		background-color: rgb(255, 255, 255);
		align-items: center;
		padding:1.5rem 5%;
	}
	header img {
			height: 2rem;
			margin-right: auto;
	}
	li,a,button {
			font-size:1.5rem;
			color: rgb(103, 97, 97);		
	}
	.navigate_links li {
		display: inline-block;
		padding: 0.6rem 1.5rem;
	}
	button {
		border: none;
		margin-left: 4.5rem;
		padding: 0.5rem 0.75rem;
		border-radius: 1.5rem;
		background-image: linear-gradient(120deg,hsl(192,70%,51%),hsl(136,65%,51%));
		color: rgb(236, 241, 243);	
	}
	.first{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.item{	
		margin-top: 7.5rem;
		margin-left: 3rem;
		grid-template-rows: 2fr 2fr 1fr;	
	}
	.next{
		font-size: 1.3rem;
		width: 19rem;
	}
	.take{	
		width: 22rem;
		font: size 0.8rem;;
	}
	.request button{
		margin-left: 0rem;
	}
	.front1{	
		height: 31.2rem;
		background-repeat: no-repeat;
		background-image: url("./image-mockups.png"),url("./bg-intro-desktop.svg");
		background-size: 35.5em;;
		background-position-x: 6.25rem,3.1rem;
		background-position-y: 1.8rem,0.6rem;	
	}
	.request{
		margin-left: 30px;
		margin-top: 30px;	
	}
	.second{
		background-color: rgb(229, 230, 226);
		width: 100%;	
	}
	.second h1{
		margin-top:1.8rem;
		margin-left:5rem;
		font-size: 2.5rem;
	}
	.second h2{	
		width: 34.3rem;
		height: 6.2rem;
		margin-left:5rem ;
		font-size:0.9rem;
		margin-bottom: 0rem;
	}
	.inneritem{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-left:5rem;
		height: 23.7rem;
	}
	.inneritem1 h1, .inneritem2 h1,.inneritem3 h1,.inneritem4 h1{
		font-size: 1.8rem;
		margin-left: 0%;
	}
	.obinner,.sbinner,.foinner,.oainner{	
		width:17.8rem;
		font-size: 1.2rem;
	}
	.third{
		background-color: rgb(253, 251, 250);
		height: 33rem;		
	}
	.latest{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-left:5rem ;		
	}
	.third h1{
		font-size: 1.8rem;
		margin-left:5rem ;	
	}
	.currancy,.restaurant,.plane,.confetti{
		width: 20rem;
		height: 15rem;
	}
	.latest1 h3,.latest2 h3,.latest3 h3,.latest4 h3{
		font-size: 0.75rem;
		margin-left: 1.8rem;
	}
	.containt{
		display: grid;
		height: 4.3rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-left: 1.8rem;
		width: 12.5rem;	
	}
	.containt h1{
		margin-left: 0rem;
		margin-bottom: 0rem;
		height: 3.1rem;
		font-size: 1.2rem;
		width:12.5rem;	
	}
	.innerinner{		
		margin-top: 0rem;
		margin-left: 1.8rem;
		font-size:0.9rem;
		width: 11.5rem;
	}
	.last{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-top:3.1rem ;	
		background-color: rgb(8, 11, 23);
	}
	.media{
		display: grid;
		grid-template-columns:repeat(8,1fr);
		margin-top: 3rem;
		margin-left: 4.3rem;
	}
	.media img{
		display: grid;	
		height: 1.2rem;
		margin-left: 0rem;
		margin-top: 0.625rem;	
	}
	.log{
		color: white;
		margin-top: 1rem;
		margin-left: 4.3rem;
	}
	.lastpart{
		display: grid;
		grid-template-columns: 1fr 1fr;	
	}
	.lastpart h1{
		color: white;
		margin-top: 1.0rem;
		margin-left: 1.2rem;
		font-size:0.9rem;
	}
	.requestbutton{
		margin-left: 0rem;
		margin-top: 3.1rem;
	}
	.four h1{
		color: white;
		margin-top:1.2rem;
		margin-left:1.2rem;
		font-size: small;
	}
}

@media screen and (max-width: 550px){
	header{
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;
	}
	header img {
		height: 1.5rem;
		background-image: url("./")
	}
	
	.topnav #myLinks {
		display: none;
	  }
	  
	  .topnav a {
		color: rgb(7, 6, 6);
		padding: 14px 20px;
		text-decoration: none;
		font-size: 17px;
		display: block;
	  }
	.topnav1 a.icon {
		background: rgb(3, 3, 3);
		/* background-image: url('./icon-youtube.svg');
		background-repeat:no-repeat; */
		display: block;
		size: 5rem;
		position: absolute;
		right: 0;
		top: 0;
	  }
	.active {
		
		color: white;
		
		
	  }
	 

	.logo{
		margin-left: 2rem;
		max-width: 30rem;
	}
	
	.navigate_links{
		display: none;
	}
	
	.button5{
		display: none;
	}
	.front1{
		background-repeat: no-repeat;
		background-image: url("./image-mockups.png"),url("./bg-intro-desktop.svg");
	}
	.container{	
		display: grid;
		grid-template-rows:repeat(4,0.3fr);
	}

	.next{
		margin-top: 10rem;
		margin-left: 5rem;
		text-align: center;
		font-size: 1.3rem;
		width: 20rem;
	}
	.take{
		margin-left: 6rem;
		width: 20rem;
		font-size: 0.8rem;
	}
	button {
		border: none;
		margin-left: 10rem;
		padding: 0.7rem 0.8rem;
		border-radius: 1.5rem;
		background-image: linear-gradient(120deg,hsl(192,70%,51%),hsl(136,65%,51%));
		color: rgb(236, 241, 243);	
	}
	.second h1{
		margin-top: 5rem;
		margin-left: 5rem;
		text-align: center;
		font-size: 2rem;
		width: 20rem;
	}
	.second h2{	
		margin-top: 2rem;
		margin-left: 6rem;
		width: 20rem;
		font-size: 0.9rem;	
	}
	img.onlinebank, img.simplebudgeting, img.fastonboarding, img.api{
		margin-top: 4rem;
		margin-left: 12rem;
	}
	.inneritem1 h1,.inneritem2 h1, .inneritem3 h1, .inneritem4 h1{
		margin-top: 1rem;
		
	}
	.obinner, .sbinner, .foinner, .oainner{	
		margin-top: 1rem;
		margin-left: 5rem;
		width: 23rem;
		font-size: 1.2rem;	
	}
	.third h1{
		font-size: 1.8rem;
		margin-top: 10rem;
		margin-left:9rem ;	
	}
	img.currancy, img.restaurant, img.plane, img.confetti{
		margin-top: 3rem;
		margin-left: 5rem;
		max-width: 20rem;
		min-width: 10rem;
	}
	.latest1 h3,.latest2 h3,.latest3 h3,.latest4 h3{
		font-size: 0.9rem;
		margin-top: 1rem;
		margin-left: 7rem;
	}
	.containt h1{
		margin-top: 0rem;
		margin-left: 7rem;
		width: 19rem;
		font-size: 1.2rem;		
	}
	.innerinner{		
		margin-top: 0rem;
		margin-left: 7rem;
		width: 19rem;
		font-size: 1rem;
		margin-bottom: 2rem;	
	}
	.last{
		background-color: rgb(3, 13, 31);
	}
	.easyb img{
		margin-top: 2rem;
		margin-left: 10rem;
	}
	.media{
		margin-left: 10rem;
		display:grid;
		grid-template-columns:repeat(5,1fr);
		max-width: 10rem;
	}
	.media img{
		margin-top: 2rem;	
	}
	.lastpart{
			margin-top: 4rem;
	}
	.lastpart h1{
		margin-left: 11rem;
		font-size: 1.5rem;
		color: white;
	}
	.four h1{
		color: white;
		font-size: 1rem;
		margin-left: 7rem;
	}
}
